/* To make ahero imagem see: https://www.w3schools.com/howto/howto_css_hero_image.asp */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');



body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  background-color: #000;
}

.blackground-hero{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("assets/asset2.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
}
nav {
  background-color: #1A3753;
  background-blend-mode: multiply;
  opacity: 1;
}
.container-fluid::before {
  background-color: black;
  opacity: 0.7;
}
.nav-item {
  color: white ;
  font-weight: 700;
  opacity: 1;
}
.navbar-brand {
  color: white;
  font-weight: 700;
}
.main-title-transformacao > h2 {
  text-align: center;
  color: white;
  opacity: 1 !important;
  font-weight: 100;
  font-size: 3rem;
}
.main-title-digital > h1 {
  text-align: center;
  color: white;
  font-size: 7rem;
  font-weight: 800;
}
.main-title-gestao{
  text-align: center;
  color: white;
}
.main-title-description > p {
  width: 60%;
  max-width: 500px;
  text-align: center;
  color: white;
}
.main-title-programacao {
  width: 60%;
  max-width: 500px;
  text-align: center;
  color: white;
}
.programacao-section {
  background-color: black;
  background-size: cover;
  color: white;
}
hr {
  border-top: 3px solid white;
}
.programacao-cards {
  background-color: white;
  justify-content: center;
}
.programacao-card {
  background-color: #ff0053;
  min-width: 250px;
}
.nav::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    opacity: 1 ;
}
.video-wrapper {
  width: auto;
}
.teste-video {
    background-color: #1A3753;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    opacity: 0;
    color: #fff;
    align-content: center;
    font-size: 3rem;
    text-align: center;
  }

.control-bar {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    z-index: 1000;
}
#volume-btn {
    width: 20px;
    height: 20px;
}
#control-play {
    width: 20px;
    height: 20px;
}
#fullscreen-btn {
    width: 20px;
    height: 20px;
}
.player-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
  opacity: 1;
}
#player-row{
  min-height: 420px;
}
.play-icon {
  height: 3em;
  width: 3em;
  margin: 10px 0px;
}
.player-description {
  color: white;
}
.menu-lateral-list {
  border: none;
}
.menu-lateral-item {
  padding-bottom: none;
}
.menu-lateral-item.active {
  background: #1A3753;
  border: none;
}
.menu-lateral-item-sala {
  font-weight: bold;
}
.ref-sala-1 {
  display: reset;
}
.ref-sala-2 {
  display: none;
}
.ref-sala-3 {
  display: none;
}
.ref-sala-4 {
  display: none;
}
.ref-sala-5 {
  display: none;
}
.cards-deck-title {
  font-weight: 700;
  color: #1A3753;
}

/* Extra Small */
@media screen and (min-width: 0px){
  .test{
      border: #32b336 7px solid !important;
  }
  .main-title-description > p {
    width: 80%;
  }
  .teste-video {
    font-size: 1rem;
  }

}
      /* Small */
@media screen and (min-width: 576px){
  .test{
      border: #ffa600 7px solid !important;
  }
}

/* Medium*/
@media screen and (min-width: 768px){
  .test{
      border: #41a7ff 7px solid !important;
  }
  .player-wrapper {
    min-height: 720px;
  }
  .text-pause-video {
    margin-top: 70px;
  }
}

/* Large*/
@media screen and (min-width: 992px){
  .test{
      border: yellow 7px solid !important;
  }
}

/* Extra large */
@media screen and (min-width: 1200px){
  .test{
      border: #ff0053 7px solid !important;
  }
}
